/* * {
    border: 1px solid black;
} */

p {
    color: white;
}

/* Input and search button */

.input-field {
    margin: 0px;
}
 
.button {
    padding: 0px !important;
}

.btn {
    margin-top: 9px;
}

#search-field {
    padding: 0px !important;
}

.moderate {
    color: yellow;
    font-weight: 600;
}

.low {
    color: green;
    font-weight: 600;
}

.high {
    color: salmon;
    font-weight: 600;
}
